.nav{
    
     margin-bottom: 50px;
}

.logo{
    margin: 20px 0;
    text-align: center;
}

.list{
    display: flex;
    justify-content: center;
color: blanchedalmond;
}
.tag{
    padding: 20px;
}
.tag>a{
    font-size: 20px;
}