.nav{
    
     margin-bottom: 50px;
}

.logo{
    margin: 20px 0;
    text-align: center;
}

.list{
    display: flex;
    justify-content: center;

}
.tag{
    padding: 20px;
}
.tag>a{
    font-size: 20px;
}

@media screen and (max-width : 1024px){
 
}
@media screen and (max-width : 600px){
    .nav{
        width: 700px;
    }
    .logo{
        width: 100%;
        text-align: center;
    }
    .list{
        flex-flow: column;
        text-align: center;
    }
}
@media screen and (max-width : 400px){
  
    .skill_content{
        flex-flow: column;
    }
}